<div class="padding-default">
    <div *ngIf="isList">
      <div class="row">
          <div class="col-4">
              <button (click)="goToAddNew()" mat-raised-button color="primary">Add New</button>
          </div>
      </div>
      <div class="row">
          <table mat-table [dataSource]="produtos" class="mat-elevation-z8">
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>
            
              <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Product Name </th>
                <td mat-cell *matCellDef="let element"> {{element.nome_produto}} </td>
              </ng-container>
            
              <ng-container matColumnDef="descricao">
                <th mat-header-cell *matHeaderCellDef> Product Description </th>
                <td mat-cell *matCellDef="let element"> {{element.descricao_produto}} </td>
              </ng-container>
            
              <ng-container matColumnDef="foto">
                <th mat-header-cell *matHeaderCellDef> Image </th>
                <td mat-cell *matCellDef="let element"> {{element.foto}} </td>
              </ng-container>

              <ng-container matColumnDef="ativo">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon style="color:green" *ngIf="element.ativo === true">check</mat-icon>
                  <mat-icon style="color:red" *ngIf="element.ativo === false">close</mat-icon>
                </td>
              </ng-container>

              <ng-container matColumnDef="quantidade">
                <th mat-header-cell *matHeaderCellDef> QTD </th>
                <td mat-cell *matCellDef="let element"> {{element.estoque.quantidade}} </td>
              </ng-container>

              <ng-container matColumnDef="preco">
                <th mat-header-cell *matHeaderCellDef> Price </th>
                <td mat-cell *matCellDef="let element"> {{element.estoque.preco}} </td>
              </ng-container>

              <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef> Edit </th>
                <td mat-cell *matCellDef="let element">
                  <button (click)="goToEdit(element)" mat-raised-button color="secondary">
                    <mat-icon style="color:royalblue">edit</mat-icon>
                  </button>
                </td>
              </ng-container>

              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> Delete </th>
                <td mat-cell *matCellDef="let element">
                  <button (click)="askDelete(element)" mat-raised-button color="warn">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
      </div>
    </div>

    <div *ngIf="isAdd === true || isEdit === true">
      <form autocomplete="off" [formGroup]="registerForm" (ngSubmit)="addOrEdit()">
        <div class="row">
            <h3>{{ textHead }}</h3>
        </div>
        <div class="margin-default-1">
            
                <div class="row">
                    <div class="col-sm-2">
                        <mat-form-field>
                            <mat-label>Product Name</mat-label>
                            <input matInput type="text" formControlName="nome_produto" autocomplete="false">
                            <mat-error class="error-message" *ngIf="f.nome_produto.errors?.required">Product Name is required</mat-error>
                        </mat-form-field>
                        <!-- <div *ngIf="submitted && f.nome_produto.errors" class="invalid-feedback">
                            <span *ngIf="f.nome_produto.errors.required">Product Name is required</span>
                        </div> -->
                        
                    </div>
                    <div class="col-sm-2">
                      <mat-form-field>
                        <mat-label>Product Description</mat-label>
                          <input matInput type="text" autocomplete="false" formControlName="descricao_produto" name="descricao_produto">
                          <mat-error class="error-message" *ngIf="f.descricao_produto.errors?.required">Product Description is required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-2">
                      <mat-form-field>
                        <mat-label>Qtd</mat-label>
                        <input matInput type="number" autocomplete="false" formControlName="quantidade" name="quantidade">
                        <mat-error class="error-message" *ngIf="f.descricao_produto.errors?.required">Qtd needs to be grather than 0</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-sm-2">
                      <mat-form-field>
                        <mat-label>Price</mat-label>
                        <input matInput type="number" autocomplete="false" formControlName="preco" name="preco">
                        <mat-error class="error-message" *ngIf="f.descricao_produto.errors?.required">Price needs to be grather than 0</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-sm-2">
                      <mat-checkbox class="example-margin" [(ngModel)]="produto.ativo" [ngModelOptions]="{standalone: true}" name="ativo">Status</mat-checkbox>
                    </div>
                </div>
            
        </div>
        <div class="margin-default-2">
            <div class="row">
                <div class="col-md-1">
                    <button (click)="goBack()" mat-raised-button color="success">Back</button>
                </div>
                <div class="col-sm-1">
                    <button type="submit" class="btn btn-success" mat-raised-button color="primary">Save</button>
                </div>
            </div>
        </div>
      </form>
    </div>
</div>